<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 上海秒优供应链</title>
    @Styles.Render("~/Content/elementui")
    <link href="~/Content/Site.css" rel="stylesheet" />
    @RenderSection("head", required: false)

    @Scripts.Render("~/bundles/vue", "~/bundles/element")
</head>
<body>
    <div id="mainbody">
        <el-container>
            <el-aside width="200px">Aside</el-aside>
            <el-container>
                <el-header>Header</el-header>
                <el-main>
                    @RenderBody()
                </el-main>
                <el-footer>Footer</el-footer>
            </el-container>
        </el-container>
    </div>
    <script>
        window.onload = function () {
            new Vue({
                el: '#mainbody',
                data: {
                    visible: false
                }
            });
        }
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
